# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt

# Frappe
*.compiled
.git
.vscode
node_modules/

# Zip files
*.zip

# Build artifacts
dist/
build/